<template>
    <v-row no-gutters class="h-100 xs3 offset-xs9 d-block d-md-flex text" >
        <v-col class="d-flex justify-center head" style="background-color: #164379;"
            xl="5"
            lg="5"
            md="5"
            sm="12"
            cols="12"
        >
            <v-img :src="`${logo}`" max-width="250" height="570" class="mt-md-5 mt-sm-0 mt-xs-0"></v-img>
        </v-col>

        <v-col class="d-flex justify-center align-center"
            xl="7"
            lg="7"
            md="7"
            sm="12"
            cols="12"
        >

            <v-container class="custom-container">
                <div class="mx-auto form">
                    <div class="d-flex justify-center align-center my-5 custom-btn">
                        <v-btn variant='plain' class="btn" :class="[btnType == 'email' ? 'active' : 'text-medium-emphasis']" v-ripple="false" @click="onChangeType('email')">E-mail</v-btn>
                        <v-btn variant='plain' class="btn" :class="[btnType == 'phone' ? 'active' : 'text-medium-emphasis']" v-ripple="false" @click="onChangeType('phone')">Телефон</v-btn>
                        <v-btn variant='plain' class="btn" :class="[btnType == 'login' ? 'active' : 'text-medium-emphasis']" v-ripple="false" @click="onChangeType('login')">Логин</v-btn>
                    </div>

                    <v-sheet max-width="400">
                        <v-form @submit.prevent>
                            <div class="my-5 custom-inp" :class=" v$.login.$error || customError ? 'error-input' : ''" v-if="btnType == 'email'">
                                <input
                                    v-model="login"
                                    type="email"
                                    placeholder="E-mail"
                                    ref="login"
                                > 
                                <v-icon :color="v$.login.$error || customError ? '#b00020':'#999'">mdi-at</v-icon>
                            </div>

                            <div class="my-5 custom-inp"  :class=" v$.login.$error || customError ? 'error-input' : ''" v-if="btnType == 'phone'">
                                <input
                                    v-model="login"
                                    type="tel"
                                    placeholder="Номер телефона"
                                    v-maska data-maska="+7 (###) ### ## ##"
                                    ref="login"
                                    autofocus
                                > 
                                <v-icon :color="v$.login.$error || customError ? '#b00020':'#999'">mdi-phone-in-talk-outline</v-icon>
                            </div>
                            <div class="my-5 custom-inp" :class=" v$.login.$error || customError ? 'error-input' : ''" v-if="btnType == 'login'">
                                <input
                                    v-model="login"
                                    type="text"
                                    placeholder="Логин"
                                    ref="login"
                                > 
                                <v-icon :color="v$.login.$error || customError ? '#b00020':'#999'">mdi-login-variant</v-icon>
                            </div>

                            <div class="my-5 custom-inp" :class=" v$.password.$error || customError ? 'error-input' : ''">
                                <input
                                    v-model="password"
                                    :type="passwordVisible ? 'text' : 'password'"
                                    placeholder="Пароль"
                                    autocomplete="on"
                                    ref="password"
                                > 
                                <div @click="passwordVisible = !passwordVisible" style="cursor: pointer;">
                                    <v-icon v-if="passwordVisible" :color="v$.password.$error || customError ? '#b00020':'#999'">mdi-eye</v-icon>
                                    <v-icon v-else :color="v$.password.$error || customError ? '#b00020':'#999'">mdi-eye-off</v-icon>
                                </div>
                            </div>

                            <v-btn type="submit" block class="my-7 rounded-pill btn-sub" size="x-large" @click="loginBtn()" color="#164379">Войти</v-btn>
                        </v-form>
                    </v-sheet>
                </div>
                    <div class="valid-error mx-auto text-center">
                        <v-alert
                            variant="outlined"
                            color="error"
                            prominent
                            class=" mx-auto"
                        >
                            {{errorMessage}}
                        </v-alert>
                    </div>
            </v-container>
        </v-col>
    </v-row>
</template>

<script>
import { vMaska } from "maska"
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, helpers } from '@vuelidate/validators'

export default {
    directives: { maska: vMaska },
    setup () {
        return { v$: useVuelidate() }
    },
    data(){
        return{
            login: '',
            password: '',
            btnType: 'phone',
            logo: 'logo.png',
            passwordVisible: false,
            errorValidation: false,
            lengthNum: 18,
            errorMessage: '',
            customError: false,
            user: {
                login: 'root',
                password: '12345'
            }
        }
    },
    validations () {
        if (this.btnType == 'phone') {
            return{
                login: {
                    required: helpers.withMessage('Все поля должны быть заполнены', required),
                    minLength: helpers.withMessage('Некорректный номер телефона',minLength(this.lengthNum))
                },
                password: {required: helpers.withMessage('Все поля должны быть заполнены', required)}
        }
        } else if (this.btnType == 'email'){
            return{
                login: {
                    required: helpers.withMessage('Все поля должны быть заполнены', required),
                    email: helpers.withMessage('Некорректный e-mail', email)
                },
                password: {required: helpers.withMessage('Все поля должны быть заполнены', required)}
            }
        } else if (this.btnType == 'login'){
            return{
                login: {
                    required: helpers.withMessage('Все поля должны быть заполнены', required),
                },
                password: {
                    required: helpers.withMessage('Все поля должны быть заполнены', required)
                }
            }
        } 
        
    },
    watch: {
        login(){
            this.v$.$reset()
            this.errorMessage = ''
            this.customError = false
        },
        password(){
            this.v$.$reset()
            this.errorMessage = ''
            this.customError = false
        }
    },
    methods: {
        onChangeType(type) {
            this.v$.$reset()
            switch (type) {
                case 'phone':
                    this.btnType = 'phone'
                    this.fieldСlearing()
                    break;
                case 'email':
                    this.btnType = 'email'
                    this.fieldСlearing()
                    break;
                case 'login':
                    this.btnType = 'login'
                    this.fieldСlearing()
                    break;
            }
            this.$nextTick(() => {
                this.$refs.login.focus()
            })
        },
      
        fieldСlearing(){
            this.login = ''
            this.password = ''
            this.errorMessage = ''
            this.customError = false
        },

        customValidations(){
            this.customError = true
            if (this.login != this.user.login || this.password != this.user.password) {
                this.errorMessage = 'Проверьте правильность ввода данных'
                return false
            }
            this.customError = false
            return true
        },

        async loginBtn(){
            let isFormCorrect = await this.v$.$validate()
                if (isFormCorrect && this.customValidations()) {
                    alert('good')
                } else {
                    if (this.v$.$errors[0]) {
                        this.errorMessage = this.v$.$errors[0].$message
                    }
                }
            } 
    }
}
</script>

<style lang="css">
    .form{
        width: 400px;
    }
    .btn-sub .v-btn__content{
        color: white;
    }
    .v-btn--size-default{
        padding: 0 !important;
        min-width: auto !important;
    }
    .v-btn--active > .v-btn__overlay{
        opacity: 0 !important;
    }
    .custom-btn .btn{
        text-transform: none !important;
        width: 80px;
    }
    .custom-inp{
        border-bottom: 1px #999 solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .custom-inp input{
        width: 90%;
        padding: 10px 5px;
        outline:none;
    }
    .error-input{
        border-bottom: 1px #b00020 solid;
    }
    .active{
        color: black !important;
        opacity: 1 !important;
    }
    .valid-error{
        position: sticky;
    }
    .custom-container{
        min-height: 440px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .v-alert--variant-outlined{
        border: none;
    }
    .v-alert{
        padding: 0 !important;
    }
    input::-moz-placeholder { opacity: 0.5; }
    input::-webkit-input-placeholder { opacity: 0.5; }
    input:-ms-input-placeholder { opacity: 0.5; }
    @media (max-width:959px) {
        .head{
            height: 100px;
        }
        .text-h4{
            text-align: center;
        }
    }
    @media (max-width:494px){

        .form{
            width: 90%;
        }
    }
</style>
